.message {
  max-width: 40vw;
  padding: 15px 5px;
  background-color: green;
  margin: 5px 5px;
  border-radius: 17px;
  z-index: 7;
  position: absolute;
  display: flex;
  color: #fff;
}

.AllMessages {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.message0 {
  top: 30px;
  left: 10%;
  background-color: rgba(48, 48, 48, 0.777);
  border-top-left-radius: 0;
}

.message1 {
  top: 100px;
  right: 10%;
  background-color: rgba(17, 126, 194, 0.862);
  border-bottom-right-radius: 0;
}

.message2 {
  top: 170px;
  left: 10%;
  background-color: rgba(48, 48, 48, 0.777);
  border-top-left-radius: 0;
}

.message3 {
  top: 240px;
  right: 10%;
  background-color: rgba(17, 126, 194, 0.862);
  border-bottom-right-radius: 0;
}

.message4 {
  top: 290px;
  left: 10%;
  background-color: rgba(48, 48, 48, 0.777);
  border-top-left-radius: 0;
}

.typed-cursor--blink {
  display: none;
}

.video-container {
  position: relative;
  width: 100%;
  margin: 0;

  /* width: 84%; */

  /* margin-left: 8%; */

  /* padding-bottom: 50px; */
  border-bottom: 1px solid black;
  background: linear-gradient(#101010, #fff);
}
