.recent_project {
  height: 100vh;
  width: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.recent_project_wrapp {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.recent_project_image_wrapp {
  width: 60%;
  height: 70%;
  border: 1px solid green;
  position: relative;
}

.recent_project_description_wrapp {
  width: 35%;
  height: 70%;
  border: 1px solid green;
}
